@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* CSS Variables */
:root {
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: rgba(48, 186, 255, 0.967);
    --bs-dark: #212529;
    --secondary-color: #aa9581; /* light brown */
    --highlight-color: #416a8e; /* blue */
    --highlight-color-light: #7a9fc2; /* light blue */
}

html {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: var(--primary-font);
   
}

.white-space {
margin-bottom: 9rem;
}

div,
iframe,
img {
    border-radius: 8px;
}

.fwl-bg-color {
background-color: var(--bs-dark);
}

/* Navbar styling*/
a.nav-link {
    color: white;
    font-size: 130%; 
    font-style: var(--primary-font);
}

a.nav-link:hover {
  color: rgb(237, 229, 229);
}

.active {
    color: red !important;  
    padding: 0;

}

.active:hover {
    font-weight: bold; 
}

.navbar-brand img {
    width: 150px;
    height: 100px;

}


/* Footbar styling */

#footer-heading {
color: white;
padding: 4px;
}

i {
    color: white;
    font-size: 150%; 
}

i:hover {
    color: red;
    font-size: 170%;
}


section {
    padding: 2px 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#section-list {
    text-align: center;
    letter-spacing: 2px;
    padding: 2px 10px;
    list-style-type: none;
}


/* Index page styles*/

/* Nutrition styling */
#image-macronutrients {
    height: 18em;
    width: 100%;
    margin-bottom: 30px;
}

.juice-images {
    height: 8em;
    margin-bottom: 8px;
}

/* juice ingredients list*/
li {
    list-style: none;
}

#minerals-row {
    margin-bottom: 30px;
}

caption {
    visibility: hidden;
}

#macronutrients h4 {
    text-align: center;
    padding-bottom: 12px;
}

/* Classes Styling */
#bookings {
    width: 130px;
    height: 45px;
    background-color: red;
    position: fixed;
    border-radius: 5px;
    right: 0;
    margin-right: 4px;

}

#bookings a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: smaller;
}



#four-span {
    color: red;
    font-size: 30em;
}


/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .fwl-bg-color {
        background-color: var(--bs-dark);
    }
 }