/* Google font imported to apply the following fonts: montserrat, Outfit and Pacifico*/
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* CSS Variables */
:root {
    --bs-dark: #212529;
    --header-font: "Pacifico", cursive;
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Outfit", serif;
    --primary-color: red;
    --secondary-color: rgba(221, 137, 203, 0.681);
    --highlight-color: rgba(148, 194, 100, 0.854);
    --booking-button-color: rgba(52, 92, 10, 0.739);
}

html, body {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: var(--primary-font);
}

Body > footer {
    Position: sticky;
    Top: vh;
    }

h1,
h2,
h3
{
    padding: 5px 0;
}

h1, h2 {
    font-family: var(--primary-font);
}

h6, h3{
    font-family: var(--secondary-font);
}

iframe {
    width: 100%
 } 

image {
    width: 100%
 }

li {
    list-style-type: none;
}

.white-space {
    margin-bottom: 9rem;
}

.fwl-bg-color {
    background-color: var(--bs-dark);
}

.fwl-primary {
   background-color: var(--primary-color); 
   color: whitesmoke;
}

.fwl-secondary {
    background-color: var(--secondary-color);  
 }

.fwl-highlight {
    color: var(--bs-dark);
    background-color: var(--highlight-color);  
 }

.fwl-booking {
    color: var(--booking-button-color);
 }

div .carousel-item ul,  div .carousel-item  h6{
    color: white;
    font-family: var(--primary-font);
    font-size: 120%;
    font-weight: 100;
    letter-spacing: 2px;
}

div .carousel-item  h6 {
    padding-top: 12px;
    font-size: 150%;
}

carousel {
    display: flex;
    justify-content: center;
}

 /* Index Styling*/
/* Navbar */
a.nav-link {
    color: white;
    font-size: 130%;
    font-style: var(--primary-font);
}

a.nav-link:hover {
    color: var(--highlight-color);
}

.active {
    color: var(--primary-color)!important;
    padding: 0;
}

.active:hover {
    font-weight: bold;
}

.navbar-brand img {
    width: 150px;
    height: 100px;
}

/* Events */
#journey-header, #juices-header, #events-header, #classes-header, #nutrition-header, #tips-header{
    color: var(--secondary-color);
    font-family: var( --header-font);
    font-size: 50px;
    padding: 10px 5px 0 5px;
}

.card img{
    Max-height: 220px;
    Object-fit: contain;
    }

.card-hover:hover {
    border-color: var(--highlight-color);   
}

.card-footer a {
  background-color: var(--booking-button-color); 
  border-radius: 5px;
  color: white;
  height: 40px;
  width: 90px;
  display: flex;  
  padding-top: 8px;
  padding-left: 1em;
  margin: 1px;
  text-decoration: none;
  display: flex;
  justify-self: right;
}

.card-footer a:hover {
    background-color: var(--highlight-color); 
    color: black;
  }


/* Footbar styling */

#footer-heading {
    color: white;
    padding: 1em 0;
}

i {
    color: var(--highlight-color);
    font-size: 160%;
    padding-bottom: 1em;
}

i:hover {
    color: var(--primary-color);
}


section {
    padding: 2px 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#section-list {
    text-align: center;
    letter-spacing: 2px;
    padding: 2px 10px;
    list-style-type: none;
}


#minerals-row {
    margin-bottom: 30px;
}

caption {
    visibility: hidden;
}

#macronutrients h4 {
    text-align: center;
    padding-bottom: 12px;
}



/* Classes Styling */
#pt-button {
    background-color: var(--primary-color);
    border-radius: 5px;  
    color: white;
    height: 60px;
    width: 160px;
    text-align: center;
    position: fixed;
    right: 0;
    margin-right: 0.5em;
}
#pt-button:hover {
    background-color: var(--highlight-color);
}

.dropdown .strength {
    background-color: var(--primary-color);
    color: whitesmoke;
}
.dropdown .conditioning {
    background-color: var(--secondary-color);
}
.dropdown .core {
    background-color: var(--highlight-color);
}

.dropdown-menu {
    width: 100%;
    height: auto;
    display: block;
}

.dropdown span {
padding: 5px;
font-family: var(--secondary-font);
}


    /* Booking-form Styling */
#text-area-span {
    display: flex;
    justify-content: center;
    font-size: 12px;
   
}
#bookings-button {
    background-color: var(--booking-button-color);
    border-radius: 5px;  
    color: white;
    font-size: 20px;
    height: 60px;
    width: 160px;   
    text-decoration: none;
    padding-top: 5px;
    border: white;
}

#bookings-button:hover {
    background-color: var(--highlight-color);
    border-radius: 5px;  
    color: black;
    border: black;
  }
/* Confirmation page styling*/
#confirmation-header {
font-family: var(--secondary-font);
color: var(--highlight-color);
}

#confirmation-page-btn{
    background-color: var(--booking-button-color);
    border-radius: 5px;  
    color: white;
    height: 60px;
    width: 160px;
    text-align: center;
    text-decoration: none;
    display: flex;
    margin: 10% auto;
    padding-top: 5px;
  }
  
#confirmation-page-btn:hover {
      background-color: var(--highlight-color);
      border-radius: 5px;  
      color: black;
      border: black;
    }

/* 404 */
#four-span {
    color: red;
    font-size: 10em;
    font-family: var(--secondary-font);
}
#four-p {
    font-size: 2em;
    margin: auto;
    font-family: var(--header-font);
}

#four-home-btn {
    background-color: var(--booking-button-color);
    border-radius: 5px;  
    color: white;
    height: 60px;
    width: 160px;
    justify-content: center;
    text-decoration: none;
    display: flex;
    margin: 10% auto;
    padding-top: 15px;
    }

#four-home-btn:hover {
    background-color: var(--highlight-color);
    border-radius: 5px;  
    color: black;
    border-color: black;
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .fwl-bg-color {
        background-color: var(--bs-dark);
    }
}