/*this is a wild card that enables me to style all elements in the css file. It will be used to remove all default settings, see below*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 2px;
    background-color: white;
    width: 100%;
    margin-bottom: 2rem; 
}

nav a {
    text-transform: uppercase;
    width:30%;
    text-decoration: none;
    font-size: 0.75rem; 
    color: black;
    margin-top: 2em;
    padding-left: 1rem;
}

#nav-image {
    
    justify-self: left;
    width: 7rem;
    height:70px;
    background-color: black;
}

#image {
    display: flex;
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 0;
    margin: 0;
}

#slogan-home {
    display:flex;
    flex-direction: row;
    background-color: rgb(241, 255, 250);
    height: 9rem;
}

footer {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    background-color: black;
    width: 100%;
    
    padding: 2px;
    }
    
    footer li {
        color: white;
    }

   




/*media queries below*/


@media screen and (min-width: 576px) {
    nav {
        background-color: pink;
    }
}

@media screen and (min-width: 768px) {
    nav {
        background-color: pink;
       
    }
    }

@media screen and (min-width: 992px) {
    nav {
        background-color: rgb(19, 188, 100);
    }
}

@media screen and (min-width: 1200px) {
        nav {
            background-color: rgb(231, 192, 255);
        }

    }