body {
    background-color: rgb(255, 255, 255);
    margin: 0;
}

nav {
    display: flexbox;
    flex-direction: row;
    text-transform: uppercase;
    position: relative;
    background-color: white;
    width: 100%;
    margin-bottom: 100px;   
}

nav a {
    position: relative;
    left:72%;
    text-decoration: none;
    color: black;
    font-size: large; 
    margin-top: 1em;
    border: #ffffff thin 1px;
    padding:1em;
}

.nav-image {
    width: 120px;
    height:70px;
    position: relative;
    left: -27%;
    background-color: black;
}

#image {
    width:80%;
    background-repeat: no-repeat;
}

.col {
    background-color: rgb(242, 242, 242); 
    border: solid 1px #ffffff;
 
}

footer {
    background-color: black;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 10px;
    }
    
    footer li {
        color: white;
    }

#video-homepage {
    height: 400px;
}